body {
  font-family: "EB Garamond", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Header Styles */
.topHeader {
    position: relative; /* Ensure relative positioning */
    height: auto; /* Reset height to auto */
    padding-top: 15px; /* Add padding to the top */
    padding-bottom: 15px; /* Add padding to the bottom */
}

/* Header Background Image */
.header_background_image {
    position: absolute;
    top: -15px; /* Adjust position to extend 15px above */
    left: 0;
    width: 100%;
    height: calc(100% + 30px); /* Extend height by 30px (15px above + 15px below) */
    object-fit: cover;
    z-index: -1;
}

/* Header Text Content */
.header_content {
    position: relative; /* Set to relative */
    z-index: 1;
    color: white;
    text-align: center;
}

/* Adjustments for better spacing */
.text-container {
    margin-bottom: 20px;
    margin-left: 15px;
}

.header_content h1 {
    color: white; /* Set text color to white */
}

/* Adjustments for better spacing */
.topHeader {
    position: relative; /* Ensure proper positioning of its contents */
    padding-top: 100px;
}

.text-container {
    margin-bottom: 20px; /* Keep the bottom margin consistent */
    margin-left: 15px; /* Adjust the left margin to match the other text containers */
}

.grey-background-container {
  background-color: #f2f2f2; /* Grey background color */
  padding: 20px; /* Add padding for spacing */
  margin-top: 15px;
  margin-left: 40px; /* Adjust left margin */
  margin-right: 40px; /* Adjust right margin */
}

/* Text styles */

h1 {
  font-weight: 600;
  color: #000000;
  padding: 80px 0 0 0;
}

h1, h5, h6 {
  font-family: 'EB Garamond', sans-serif;
  font-weight: normal;
}

figcaption {
    font-style: italic;
    font-size: 0.8em;
    color: #000; /* Change color to black */
    text-align: center;
    margin-top: 5px; /* Add some space between the image and the caption */
}

/* Callout Styles */
.customCallout {
  background-color: #888787;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
}


.body_image {
  margin-top: 25px;
}
